@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Pixelify Sans", system-ui, Arial, sans-serif;
}

.container {
  background-color: black;
  hieght: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.score {
  color: white;
  font-size: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(20, 30px);
  width: max-content;
  gap: 1px;
}

.cell {
  background-color: grey;
  width: 30px;
  height: 30px;
}

.food {
  background-color: red;
}

.snake {
  background-color: green;
}

.snakeHead {
  background-color: darkgreen;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 25vw;
  top: 37.5vh;
  width: 50vw;
  height: 25vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6)
}

.button {
  display: flex;
  align-self: center;
  padding-top: 1rem;
}